apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  namespace: backend-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: localhost.localstack.cloud:4566/backend-app:latest # simulando o endereco da imagem
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "250m"
            memory: "512Mi"
          requests:
            cpu: "100m"
            memory: "256Mi"
