apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: backend-pipeline
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/rafaellevissa/technical-challenges.git'
    targetRevision: HEAD
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: backend-namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true